
<div class="container">
    <h1>Adicionar Pod</h1>
    <form (ngSubmit)="createPod()">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="podName">
      </div>
      <div class="form-group">
        <label for="name">Imagem:</label>
        <input type="text" class="form-control" id="image" name="name" [(ngModel)]="podImage">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
  </div>