<br><br>
<div class="container">
    <h1>Adicionar Namespace</h1>
    <form (ngSubmit)="createPod()">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="podName">
      </div>
      <label for="namespace">Namespace:</label>
    <select [(ngModel)]="podNamespace">
      <option *ngFor="let namespace of namespaces" [value]="namespace">{{ namespace }}</option>
    </select>
      <br>
      <button type="submit" class="btn btn-primary" routerLink="/namespaces">Adicionar</button>
    </form>
  </div>